<div class="container">
  <h1>Acccount Admin</h1> 
  <a href="/admins/new" class="btn btn-success">New</a>
  <br>     
  <br>
  <table class="table table-bordered">
   
  <thead>
    <tr>
      <th scope="col">#</th>      
      <th scope="col">User Name</th>
      <th scope="col">Email</th>    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>@fat</td>
    </tr>
    
  </tbody>
  
</table>
</div>