<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Admin", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Admin",   '#' %></li>
        <li><%= link_to "User",   '#' %></li>
        <li><%= link_to "Post", '#' %></li>
      </ul>
    </nav>
  </div>
</header>